.meal-suggestor-app {
  color: black;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('/public/kitchen-5.webp');
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.meal-suggestor-header {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#get-meals {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aquamarine;
  width: 400px;
  height: 40px;
  border-radius: 24px;
  cursor: pointer;
  border: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 600px) {
  #get-meals {
    width: auto;
  }
}

.meal-div {
  background-color: rgba(245, 255, 255, 0.9);
  color: rgba(10, 132, 1, 0.9);
  text-shadow: 2px 2px 4px rgba(249, 245, 4, 0.5);
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 10px;
  display: block;
  justify-content: center;
  text-align: center;
}

.meal-div ul {
  list-style: none;
  margin-top: 16px;
}
.meal-div li{

}


