
.projects-list{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.project-tile {
  width: 250px;
  height: 250px;
  margin-bottom: 44px;
  background-image: linear-gradient(to top, var(--main-accent), var(--accent-top));
  border-radius: 12px;
  padding: 16px;
  overflow: scroll;
  overflow-wrap: break-word;
  transition: color 250ms;
}

.project-tile:hover{
  color: var(--link-hover);
}

.img-div {
  margin-bottom: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-image {
  border-radius: 10px;
  max-width: 200px;
}

.title-div {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;

}

.project-name {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary-font-col);
}

.description-div {
  text-align: center;

}

.project-description {
  font-size: 12px;
  color: var(--secondary-font-col);
}
