.introduction p {
  color: white;
  margin-bottom: 16px;
}

.address {
  width: 300px;
  height: 40px;
}

.back-text-button {

  cursor: pointer;
  margin-bottom: 16px;
}


.result-loading {
  height: 100px;
}

#page-2-line-1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 16px;
}

.result-numbers {
  display: flex;
  justify-content: space-between;
}

.result-number {}

.actions-div {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .actions-div {
    display: block;
  }
  .result-loading {
    height: 250px;
  }
  .result-numbers {
    display: block;

  }
}

.bills-div {
  margin-right: 24px;
}

.month {
  margin-right: 16px;
}


.bill-sliders {
  display: block;
  margin: 16px 0;
}

.bill-slider {}

.bill-value {
  margin-left: 16px;
}

.roof-div {

  width: 50%;
}

.roof-buttons {
  display: flex;

}

.secondary-button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  margin-left: 16px;
}
